[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky Backlight
Comment[en_US]=Sparky Backlight
Exec=/usr/bin/sparky-backlight /opt/tray/sparky-backlight
Icon=notification-display-brightness
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility

